@import "tailwindcss";
@import "xterm/css/xterm.css";

body {
  margin: 0;
  padding: 0;
  background-color: #020617;
  color: #f8fafc;
  overflow: hidden;
  user-select: none;
}

/* Custom terminal styles */
.xterm .xterm-viewport {
  overflow-y: auto !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #1e293b;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #334155;
}
